.index-wrapper {
  margin: 20px;
}

.new-link {
  font-size: 20px;
}

h2 {
  margin-top: 20px;
}

.search-form {
  margin: 5px 0px;
}

.selection-field {
  margin-bottom: 5px;
}

.kifu-lists {
  width: 550px;
  margin-top: 5px;
}

.one-kifu {
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid black;
  font-size: 20px;
  position: relative;
}

.opponent {
  left: 150px;
  position: absolute;
}

.result {
  left: 250px;
  position: absolute;  
}

.type {
  left: 300px;
  position: absolute;  
}

.kifu-page {
  right: 10px;
  position: absolute;
}